* {
  outline: none;
  padding: 0;
  cursor: none;
  user-select: none;
  margin: 0;
  box-shadow: border-box;
}
body {
  height: 100%;
  width: 100%;
  background: white;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.top {
  position: fixed;
  top: 0;
  background: white;
  height: 50px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top .logo {
  font-weight: 550;
  font-size: 18pt;
  color: #1687d5;
}

.top .navBar ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top .navBar li {
  list-style: none;
  margin: 0 25px 0 0;
}
/*
#navBar {
  display: flex;
}*/
.top .navBar li a {
  text-decoration: none;
  color: #242526;
  font-weight: bold;
  font-size: 14pt;
}
.btnMenu {
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18pt;
  color: #1687d5;
  display: none;
}
.home {
  height: 100vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home .title {
  height: 50px;
  margin-top: 65px;
}
.home .developer {
  margin-top: 200px;
  font-size: 14pt;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.developer .info h1 {
  color: #1687d5;

}

.developer .info h1 span {
  color: black;
  font-size: 25px;
}
.developer .info .name {
  font-weight: bold;
}
.developer .info .am {
  text-align: center;
  width: 100%;
  font-weight: bold;
}
.developer .info .am .hobbies {
  font-weight: bold;
  color: #1687d5;
}

.title {
  font-size: 16pt;
  color: #1687d5;
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: relative;
}

.title:before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 45px;
  border-radius: 25px;
  background: #1687d5;

}
#home .img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#home .social_media {
  height: 100px;
  width: 240px;
  display: flex;
  margin: 30px 0;
  align-items: center;
  justify-content: space-between;
}

.social_media li {
  list-style: none;
  font-size: 17pt;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1687d5;
  color: #1687d5;
  transition: 1s;
}
.social_media li:hover {
  background: #1687d5;
  color: white;

}
#home .img .box {
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  width: 300px;
  opacity: 0;
  animation: 1s zoomOut ease forwards;
}
@keyframes zoomOut {
  0% {
    opacity: 0;
    transform: scale(.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#home .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*About*/

#about {
  height: 80vh;
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#about .text {
  margin-top: 120px;
  text-align: center;
  font-weight: 500;
  margin: 20px 0;
  font-size: 16pt;
}

#about .text.active{
  opacity: 0;
  animation: 2s slideUp ease forwards;
}


@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*skills*/

#skills {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

#skills .languages {
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.languages li {
  list-style: none;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px 0 0 0;

}

.languages li .progress {
  width: 100%;
  height: 10px;
  background: #b9bdc2;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 5px;
}
.languages li .info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #242526;

  font-weight: bold;
}
.languages li .info .percent {
  font-weight: bold;
  color: #1687d5;
}
.languages .html .progress .width {
  width: 100%;
  border-radius: 25px;
  height: 100%;
  background: #1687d5;
}
.languages .css .progress .width {
  width: 90%;
  height: 100%;
  border-radius: 25px;
  background: #1687d5;
}
.languages .js .progress .width {
  width: 89%;
  height: 100%;
  border-radius: 25px;
  background: #1687d5;
}
.languages .php .progress .width {
  width: 75%;
  height: 100%;
  border-radius: 25px;
  background: #1687d5;
}


/*contacts*/

#contacts {
  height: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#contacts .contactos {
  margin-top: 20px;
  width: 100%;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: auto auto;
}

.contactos li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#navBar {
  display: none;
}

/*bottom*/


.bottom {
  font-weight: bold;
  width: 100%;
  font-size: 10pt;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom a {
  font-size: 12pt;
}