@media (min-width:250px) AND (max-width:600px) {
  .top .btnMenu {
    display: flex;
  }

  .top .navBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    background: white;

  }
  #navBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: white;
  }
  #home {
    height: 100vh;
    margin-top: 35px;
  }
  #navBar.active {
    display: flex;
  }
  #navBar li {
    text-align: center;
    list-style: none;
    padding: 15px 0;
    position: relative;
  }
  #navBar li:hover #navBar li:before{
    content:"";
    position:absolute;
    top:0;
    height: 5px;
    width: 50px;
    background: #1687d5;
  }
  #navBar li a {
    text-decoration: none;
    font-size: 17pt;
    font-weight: bold;
  }
  #navBar .close {
    position: absolute;
    bottom: 20px;
    font-size: 24pt;
    color: #1687d5;
  }
  #home .title {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }
  #home .developer .info {
    margin: 0;
  }

  #home .social_media {
    width: 60%;
    margin: 0;
    height: 40px;
    margin: 0 0 25px 0;
  }
  #home .developer {
    margin: 0;
    flex-direction: column;
  }
  #home .developer .img .box {
    width: 180px;
    height: 180px;
  }


  /*about*/
  #about {
    height: 90vh;
    margin-top: 0;
    width: 90%;
  }
  
/*skills*/
#skills {
  width: 100%;
}

#skills .languages {
  width: 95%;
}

.skills .languages li{
  width: 100%;
}
  /*contacts*/
  #contacts {
    height: 90vh;
    width: 90%;
    margin-top: 15px;
  }

  #contacts .contactos {
    width: 90%;
    grid-template-columns: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}